<aside class="widget widget_product widget_features">

  <p><i class="icon-network"></i> Shipping worldwide</p>

  <p><i class="icon-3d-rotate"></i> Free 7-day return if eligible, so easy</p>

  <p><i class="icon-receipt"></i> Supplier give bills for this product.</p>

  <p><i class="icon-credit-card"></i> Pay online or when receiving goods</p>

</aside>

<aside class="widget widget_sell-on-site">

  <p><i class="icon-store"></i> Sell on MarketPlace?<a href="#"> Register Now !</a></p>

</aside>

<aside class="widget widget_same-brand">

  <h3>Same Brand</h3>


  <app-preload *ngIf="loading"></app-preload>

  <div class="widget__content" *ngIf="products.length>0 && !loading">

    <div class="ps-product"
         [appRating]="last" classRating="ps-rating"
         *ngFor="let product of products;let last=last"
    >

      <div class="ps-product__thumbnail">

        <a [routerLink]="['/product', product.url]">
          <img src="{{_configService.path}}img/products/{{product.category}}/{{product.image}}" alt="">
        </a>

        <div class="ps-product__badge">
          <span>Save <br> ${{((product.offer[0] === 'Disccount') ? (product.price * product.offer[1]) / 100 : product.offer[1] - product.price) | number :'2.2'}}</span>
        </div>

        <ul class="ps-product__actions">

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Read More">
              <i class="icon-bag2"></i>
            </a>
          </li>

          <li>
            <a [routerLink]="['/product', product.url]" data-toggle="tooltip" data-placement="top" title="Quick View">
              <i class="icon-eye"></i>
            </a>
          </li>

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist">
              <i class="icon-heart"></i>
            </a>
          </li>

        </ul>

      </div>

      <div class="ps-product__container">

        <a class="ps-product__vendor" href="#">{{product.store}}</a>

        <div class="ps-product__content">

          <a class="ps-product__title" [routerLink]="['/product', product.url]">{{product.name}}</a>

          <div class="ps-product__rating">

            <select class="ps-rating" data-read-only="true">


              <option *ngFor="let value of [1,2,3,4,5]"
                      [value]="(product.calculate_review >= value) ? 1 : 2">{{value}}</option>

              <!-- <option value="1">1</option>
               <option value="1">2</option>
               <option value="1">3</option>
               <option value="1">4</option>
               <option value="2">5</option>-->

            </select>
            <span>({{product.reviews.length}})</span>

          </div>

          <h4 class="ps-product__price sale">
            ${{ ((product.offer[0] === 'Disccount') ? product.price - ((product.price * product.offer[1]) / 100) : product.price - product.offer[1]) | number :'2.2'}}
            <del> ${{product.price}}</del>
          </h4>

        </div>

        <div class="ps-product__content hover">

          <a class="ps-product__title" [routerLink]="['/product', product.url]">{{product.name}}</a>

          <h4 class="ps-product__price sale">
            ${{ ((product.offer[0] === 'Disccount') ? product.price - ((product.price * product.offer[1]) / 100) : product.price - product.offer[1]) | number :'2.2'}}
            <del> ${{product.price}}</del>
          </h4>

        </div>

      </div>

    </div>


  </div>

</aside>
