<!--=====================================
 Breadcrumb
 ======================================-->

<div class="ps-breadcrumb">

  <div class="container">

    <ul class="breadcrumb">

      <li><a href="index.html">Home</a></li>

      <li>My Account</li>

    </ul>

  </div>

</div>

<div class="ps-my-account">

  <div class="container">

    <form class="ps-form--account ps-tab-root" #formLogin="ngForm" (ngSubmit)="loginSend(formLogin)">

      <ul class="ps-tab-list">
        <li class="active"><a [routerLink]="['/login']">Login</a></li>

        <li><a [routerLink]="['/register']">Register</a></li>

      </ul>

      <div class="ps-tabs">

        <!--=====================================
        Login Form
        ======================================-->

        <div class="ps-tab active" id="sign-in">

          <div class="ps-form__content">

            <h5>Log In Your Account</h5>

            <div class="form-group">

              <input class="form-control"
                     [(ngModel)]="user.email"
                     name="email"
                     #email="ngModel"
                     email
                     required
                     [ngClass]="{'is-valid': email.dirty && email.valid, 'is-invalid': email.dirty && email.invalid}"
                     data-toggle="tooltip" title="Enter your email"
                     type="email" placeholder="Email address" [disabled]="loading">

              <div class="valid-feedback"
                   *ngIf="email.valid && email.dirty">email valid!
              </div>
              <div class="invalid-feedback" *ngIf="email.errors?.required && email.dirty">email required
              </div>
              <div class="invalid-feedback" *ngIf="email.errors?.email && email.dirty">email invalid
              </div>



            </div>

            <div class="form-group">

              <input class="form-control"
                     [(ngModel)]="user.password"
                     name="password"
                     #password="ngModel"
                     required
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"
                     data-toggle="tooltip" title="Enter your password"
                     [ngClass]="{'is-valid': password.dirty && password.valid, 'is-invalid': password.dirty && password.invalid}"
                     type="password" placeholder="Password" [disabled]="loading">

              <div class="valid-feedback"
                   *ngIf="password.valid && password.dirty">password valid!
              </div>
              <div class="invalid-feedback" *ngIf="password.errors?.required && password.dirty">password required
              </div>
              <div class="invalid-feedback" *ngIf="password.errors?.pattern && password.dirty">password invalid
              </div>

              <div>
                <a href="#formResetPassword" data-toggle="modal">Forgot?</a>
              </div>

            </div>

            <div class="form-group">

              <div class="ps-checkbox">

                <input class="form-control"
                       type="checkbox"
                       id="remember-me"
                       name="rememberMe"
                       [(ngModel)]="user.rememberMe">

                <label for="remember-me">Rememeber me</label>

              </div>

            </div>

            <div class="form-group submtit">
              <app-preload *ngIf="loading"></app-preload>
              <button class="ps-btn ps-btn--fullwidth"
              type="submit" [disabled]="formLogin.invalid || loading" >Login</button>

            </div>

          </div>

          <div class="ps-form__footer">

            <p>Connect with:</p>

            <ul class="ps-list--social">

              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="google" href="#"><i class="fab fa-google"></i></a></li>

            </ul>

          </div>

        </div><!-- End Login Form -->

      </div>

    </form>

  </div>

</div>



<div class="modal fade" id="formResetPassword" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formResetPassword="ngForm" (ngSubmit)="resetPassword(formResetPassword)">
          <div class="form-group">
            <input type="email" required name="emailReset" email  [(ngModel)]="emailReset" class="form-control" placeholder="Yur email address">
          </div>
          <div class="form-group submtit">
            <app-preload *ngIf="loading"></app-preload>
            <button class="ps-btn ps-btn--fullwidth"
                    type="submit" [disabled]="formResetPassword.invalid || loading" >Submit</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
