<!--=====================================
Header Promotion
======================================-->
<app-header-promotion></app-header-promotion>

<!--=====================================
Header
======================================-->
<!--Recibe del header las categorieas, y el app.component lo envia a los otros componentes-->
<app-header (categories_emit)="getEventCategories($event)"></app-header>


<!--=====================================
Header Mobile
======================================-->

<app-header-mobile [categories]="categories"></app-header-mobile>


<!--=====================================
Pages
======================================-->
<router-outlet></router-outlet>


<!--=====================================
Newletter
======================================-->
<app-newletter></app-newletter>

<!--=====================================
Footer
======================================-->
<app-footer [categories]="categories"></app-footer>
