<!--=====================================
    Home Content
======================================-->

<div id="homepage-6">
  <!--=====================================
     Home banner
     ======================================-->
  <app-home-banner></app-home-banner>

  <!--=====================================
     Home Features
     ======================================-->
  <app-home-features></app-home-features>

  <!--=====================================
     Home Promotions
     ======================================-->
  <app-home-promotions></app-home-promotions>


  <!--=====================================
    	Home Deal Hot Today
    	======================================-->
  <app-home-hot-today></app-home-hot-today>


  <!--=====================================
     Home Top Categories
     ======================================-->

  <app-home-top-categories></app-home-top-categories>

  <!--=====================================
  Show Case
  ======================================-->
  <app-home-show-case></app-home-show-case>

</div>
